@font-face {
  font-family: myfont;
  src: url(media/myfont.ttf);
}
.social {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #2b2834;
}
footer a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
.minigallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.minigallery img {
  width: 10%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252a;
  position: absolute;
  right: 0;bottom:0;left:0;
}


.logo {
  cursor: pointer;
  width: 1%;
  color: #46C016;
}
.gren {
  color: #46C016;
}
.nav__links a, .cta, .overlay__content a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #46C016;
}
.log2 {
  background-color: #ffffff;
  width: 25%;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: -134px;
  border-radius: 16px;
}
.htdl {
  width: 100%;
  background-color: red;
  color: white;
}
.htdl img {
  width: 20%
}
.fl {
  float: left;
  color: white;
} 
.fr {
  float: right;
  color: white;
}
.mylist {
  color: white;
}
p, h1 {
  padding: 4px;
}
